.header-bar {
    color: black;
}

/* .list-item-button {
    padding: 12px 16px;
    transition: background-color 0.2s ease-in-out;
  }

  .list-item-button:active,
.list-item-button:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.list-item-text {
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
  } */

/* .drawer-items {
    color: white;
} */


/* #566060 */