.title-section {
    padding: 12px 0;
}

.paragraph-glossar {
    font-size: 1.2rem;
    color: whitesmoke;
}
  
.glossar-element {
    padding-bottom: 6px;
}

.glossar-element h2, p {
    margin: 6px 0;
}
  