label {
  cursor: inherit;
}

.background-chart {
    width: 100%;
    max-width: 620px;
    min-width: 300px;
    margin: 24px auto 40px;
    justify-content: center;
    align-items: center;
}

.outlook-chart {
  width: 100%;
  max-width: 620px;
  min-width: 300px;
  margin: 12px auto 32px;
  justify-content: center;
  align-items: center;
}

.median-hh-income-container, .scatter-plot-container, .box-plot-container, .ftpt-box-plot-container {
  margin: 24px 0;
}

.scatter-plot-container img, .box-plot-container img {
  width: 100%;
  max-width: 1000px;
}

.si-scatter-plot-container img {
  width: 100%;
  max-width: 868px;
}

.ftpt-box-plot-container img {
  width: 100%;
  max-width: 768px;
}

.si-mun-chart-container img {
  width: 100%;
  max-width: 1020px;
}

.si-bl-chart-container img {
  width: 100%;
  max-width: 900px;
}

.si-load-chart-container img {
  width: 100%;
  max-width: 820px;
}

.municipality-size-map {
  width: 100%;
  padding: 0 40px 0 30px;
} 

.definition-chart-container {
  width: 100%;
  align-content: center;
  justify-content: center;
  margin-bottom: 32px;
}

.accordion-subheader {
  font-size: 1.1rem;
  font-variation-settings: "slnt" 0, "wdth" 100, "wght" 500;
}

.toggle-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.residual-income-toggle {
  padding-top: 20px;
  display: flex;
  width: 340px;
}

.residual-income-toggle .MuiToggleButton-root {
  flex: 1;
  background-color: white;
  border: 1px solid #ccc;
  color: black;
  font-weight: 500;
  transition: background-color 0.3s, color 0.3s;
}

.residual-income-toggle .MuiToggleButton-root.Mui-selected {
  background-color: #F0A898 !important;
  color: white !important;
}

.median-exp-chart-title {
  text-align: center;
  margin: 24px 0 0;
}
  
.si-toggle {
  /* padding-top: 20px; */
  padding-top: 16px;
  display: flex;
  /* width: 400px; */
  width: 260px;
  max-width: 100%;
}

.si-toggle .MuiToggleButton-root {
  /* min-height: 48.5px; */
  min-height: 56px;
  flex: 1;
  background-color: white;
  border: 1px solid #ccc;
  color: black;
  font-weight: 400;
  transition: background-color 0.3s, color 0.3s;
}

.si-toggle .MuiToggleButton-root.Mui-selected {
  background-color: #a5cdc8 !important;
  color: white !important;
  font-weight: 600;
}


.control-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .select-component {
    position: absolute;
    left: 0;
  }
  
  .toggle-container {
    margin: 0 auto;
  }
}


@media (max-width: 1030px) {
  .control-container {
    flex-wrap: wrap;

    .select-component {
      position: relative;
    }
  }
}


@media (max-width: 444px) {
  .si-toggle .MuiToggleButton-root {
    padding-top: 2px;
    padding-bottom: 2px;
  }
}
  

.bar-charts {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.gini-header {
  margin: 40px 0 8px;
  text-align: center;
  font-size: 1.45rem;
}

.gini-subheader {
  hyphens: auto;
}

.gini-container {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin: 0 0 12px;

  div {
    flex: 1;
    text-align: center;
    max-width: 50%;
    flex-shrink: 1;
  }

  h3 {
    margin: 0;
    font-size: 1.35rem;    
  }
}


ul.custom-list li {
  text-align: left;
}

.infobox-list li {
  font-variation-settings: "slnt" 0, "wdth" 100, "wght" 400;
}

.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 12px 13.5px;
  border-radius: 2px;
  border: 2px solid;
  cursor: pointer;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.floating-button:hover {
  background-color: rgb(240, 240, 240);
}
  
.floating-button:disabled {
  pointer-events: none;
  opacity: 0; 
  cursor: default;
}

.progressBar {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 100%;
  z-index: 1000;
}

.click-information {
  margin-top: 20px;
}

.link {
    color: #006699;
    font-variation-settings: "slnt" 0, "wdth" 100, "wght" 400;
    text-decoration: none;

    &:hover {
      color: #006699CC;
    }
}

#indicator-select {
  transform: translateY(2px);
}

.MuiMenuItem-root {
  li, span, p {
    transform: translateY(2px);
  }
}

.leaflet-popup-content-wrapper {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 16px;
  border: 1px solid #444;
  border-radius: 8px;
  padding: 6px 10px;

  .leaflet-popup-content {
    margin: 0;
  }
}

.leaflet-popup-tip {
  background-color: #333;
}

.leaflet-popup-close-button {
  display: none;
}

@media (hover: none) {
  .click-information {
    display: none;
  }
}

@media (max-width: 768px) {
  .background-chart {
    padding: 0 8px;
  } 

  .municipality-size-map {
    padding: 0;
  }
}
  
@media (max-width: 350px) {
  .background-chart {
    padding: 0;
  }
}