.background-chart {
    width: 100%;
    max-width: 620px;
    min-width: 300px;
    margin: 20px auto;
  }
  
.toggle-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
.expenditure-toggle {
    padding-top: 20px;
    display: flex;
    width: 200px;
}
  
.expenditure-toggle .MuiToggleButton-root {
    flex: 1;
    background-color: white;
    border: 1px solid #ccc;
    color: black;
    font-weight: 500;
    transition: background-color 0.3s, color 0.3s;
}
  
.expenditure-toggle .MuiToggleButton-root.Mui-selected {
  background-color: #F0A898 !important;
  color: white !important;
  font-weight: 600;
}

.si-toggle {
  padding-top: 20px;
  display: flex;
  width: 400px;
  max-width: 100%;
}

.si-toggle .MuiToggleButton-root {
  flex: 1;
  background-color: white;
  border: 1px solid #ccc;
  color: black;
  font-weight: 500;
  transition: background-color 0.3s, color 0.3s;
}

.si-toggle .MuiToggleButton-root.Mui-selected {
  background-color: #a5cdc8 !important;
  color: white !important;
  font-weight: 600;
}

  

.expenditure-charts {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 24px;
  }
  
  .gini-container {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
  
    div {
      flex: 1;
      text-align: center;
      max-width: 50%;
      flex-shrink: 1;
    }
  }

.mean-map-container {
  margin-bottom: 48px;
}

.community-size-map {
  width: 100%;
  padding: 0 40px 0 30px;
}  
  
p.implications {
  margin-bottom: 8px;
}
  
ul.custom-list {
  margin-top: 8px;
}
  
ul.custom-list li::marker {
  font-size: 1.2em;
}

ul.expenditure li::marker {
  color: #f0ae9f;
}

ul.social-infrastructure li::marker {
  color: #a5cdc8;
}

ul.time-usage li::marker {
  color: #fcd799;
}

.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: white; 
  color: #a5cdc8;
  padding: 12px 13.5px;
  border-radius: 2px;
  border: 2px solid #a5cdc8;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
}

.floating-button:hover {
  background-color: rgb(240, 240, 240);
}
  
.floating-button:disabled {
  pointer-events: none;
  opacity: 0; 
  cursor: default;
}

.progressBar {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 100%;
  z-index: 1000;
}

@media (hover: none) {
  .click-information {
    display: none;
  }
}

@media (max-width: 768px) {
  .background-chart {
    padding: 0 8px;
  } 

  .community-size-map {
    padding: 0;
  }
}
  
@media (max-width: 350px) {
  .background-chart {
    padding: 0;
  }
}