.title-section {
    padding: 12px 0;
}

.text-wrapper {
    overflow-y: auto;   
    width: 70%;
    max-width: 1300px;
    margin: 0 auto 40px;
    padding: 0 20px;
}

.logo-wrapper {
    width: 70%;
    max-width: 1300px;
    margin: 0 auto 40px;
    padding: 0 20px;

    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.logo-image {
  max-height: 140px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.paragraph-glossar {
    font-size: 1.2rem;
    color: #363636;
}
  
.glossar-element {
    padding-bottom: 6px;
}

.glossar-element:last-of-type {
    margin-bottom: 32px;
}

.glossar-element h2, p {
    margin: 6px 0;
}

.paragraph-team {
    font-size: 1.2rem;
    /* padding: 20px 0; */
    color: #363636;
}

.team-member {
    display: flex;
    flex-direction: row;
    /* align-items: flex-start; */
    align-items: center;
    gap: 2.2rem;
}

.team-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* .team-member2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 1.5rem;
} */


.team-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  flex-shrink: 0;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.paragraph-impressum {
    font-size: 1.3rem;
    padding: 4px 0;
    color: #363636;
    text-align: left;
}

.paragraph-privacy {
    font-size: 1.2rem;
    padding: 2px 0;
    color: #363636;
    text-align: left;
}

.privacy-link {
    color: #006699;
    /* font-variation-settings: "slnt" 0, "wdth" 100, "wght" 500; */
    font-weight: 500;
    text-decoration: none;

    &:hover {
      color: #006699CC;
    }
}

@media (max-width: 1300px) {
  .text-wrapper, .logo-wrapper {
    width: 85%;
  }
}

@media (max-width: 900px) { 
  .team-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }

  .team-member {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

@media (max-width: 768px) {  
  .text-wrapper, .logo-wrapper {
    width: calc(100% - 20px);
    padding: 0 8px;
    margin: 0 auto 20px;
  }
}


@media (max-width: 400px) {
  .text-wrapper, .logo-wrapper {
    width: calc(100% - 20px);
    padding: 0;
    margin: 0 auto 20px;
  }
}